
      <router-outlet></router-outlet>  

      <button class="shop__to-top"><i class="ion-ios-arrow-up"></i></button>


<div class="shop__subscribe ff">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h4 class="mb-0">Theo dõi HUMG-BookStore</h4>
        <p class="mb-0">Nhập Email để nhận những thông tin mới</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <form>
          <div class="form-group d-flex mb-0">
            <input type="email" placeholder="Enter your email address" class="form-control">
            <button type="submit" class="submit-btn">Subcribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="shop__footer ff">
  <div class="container">
    <div class="row" style="margin: 2rem 0;">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <p class="fw-700 fs-18">HUMG BookStore</p>
        <p>Thích ăn thịt, thích máy tính và thích luôn cả ngủ ngày.</p>
        <ul class="social-link">
          <li><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
          <li><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
          <li><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <p class="fw-700 fs-18">Menu</p>
        <ul>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Về chúng tôi</a></li>
          <li><a href="#">Nhân111Oi</a></li>
          <li><a href="#">Liên lạc</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <p class="fw-700 fs-18">Help</p>
        <ul>
          <li><a href="#">Shipping information</a></li>
          <li><a href="#">Returns & Exchange</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <p class="fw-700 fs-18">Have a question ?</p>
        <ul>
          <li>
            <span><i class="icon ion-ios-pin"></i></span>
            <span>7 phố Viên. phường Đức Thắng, Nam Từ Liêm, Hà Nôi</span>
          </li>
          <li>
            <span><i class="icon ion-ios-call"></i></span>
            <span>+84 775 331 777</span>
          </li>
          <li>
            <span><i class="icon ion-ios-mail"></i></span>
            <span>ptnhan109@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <p class="text-center">Copyleft ©2019 HUMG BookStore</p>
      </div>
    </div>
  </div>
</div>
