<nav class="navbar navbar-expand-lg navbar-light sticky-top shop__navbar ff">
  <div class="container">
    <a class="navbar-brand" routerLink="/BookStore/Home">HUMG BookStore</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#responsive-navbar"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="responsive-navbar">
      <ul class="navbar-nav ml-auto navbar-nav-list">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="shop_dropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Cửa hàng</a>
          <div class="dropdown-menu" aria-labelledby="shop_dropdown">
            <a class="dropdown-item" *ngFor="let category of categories" routerLink="/BookStore/Category/{{ category.id }}">{{ category.categoryName }}</a>
            
          </div>
        </li>
        <li class="nav-item" *ngIf="customer == 'not login'"><a routerLink="/BookStore/Login" class="nav-link">Đăng nhập</a></li>
        <li class="nav-item" *ngIf="customer != 'not login'"><a routerLink="/BookStore/Login" class="nav-link">{{ customer.customerName }}</a></li>
        <li class="nav-item"><a routerLink="/BookStore/Cart" class="nav-link"><span class="icon-shopping_cart"></span><i
              class="icon ion-ios-cart"></i>&nbsp;[ 0 sản phẩm ]</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="shop__banner ff" style="background-image: url('http://getwallpapers.com/wallpaper/full/d/d/6/165874.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1><span class="text-white">{{ page }}</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="shop__container ff">
  <div class="container">
    <div class="product-single__container ff">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <img src="https://localhost:44315/image/{{ product.productImageList }}" alt="product">
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <h2>{{ product.productName}}</h2>
            <br />
            <h3>VNĐ {{ formatMoney(product.productPrice) }}</h3>
            <br />
            {{ product.productDescription }}



            <div class="input-group col-md-6" style="padding: 0">
              <span class="input-group-btn mr-2">
                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                  <i class="ion-ios-remove"></i>
                </button>
              </span>
              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1"
                max="100">
              <span class="input-group-btn ml-2">
                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                  <i class="ion-ios-add"></i>
                </button>
              </span>
            </div>
            <br />

            <button class="add-btn">THÊM VÀO GIỎ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
