<nav class="navbar navbar-expand-lg navbar-light sticky-top shop__navbar ff">
    <div class="container">
      <a class="navbar-brand" routerLink="/BookStore/Home">HUMG BookStore</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#responsive-navbar"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="responsive-navbar">
        <ul class="navbar-nav ml-auto navbar-nav-list">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="shop_dropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Cửa hàng</a>
            <div class="dropdown-menu" aria-labelledby="shop_dropdown">
              <a class="dropdown-item" *ngFor="let category of categories" routerLink="/BookStore/Category/{{ category.id }}">{{ category.categoryName }}</a>
              
            </div>
          </li>
          <li class="nav-item" *ngIf="customer == 'not login'"><a routerLink="/BookStore/Login" class="nav-link">Đăng nhập</a></li>
          <li class="nav-item" *ngIf="customer != 'not login'"><a routerLink="/BookStore/Login" class="nav-link">{{ customer.customerName }}</a></li>
          <li class="nav-item"><a routerLink="/BookStore/Cart" class="nav-link"><span class="icon-shopping_cart"></span><i
                class="icon ion-ios-cart"></i>&nbsp;[ 0 sản phẩm ]</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="shop__banner ff" style="background-image: url('http://getwallpapers.com/wallpaper/full/d/d/6/165874.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1><span class="text-white">T H A N H T O Á N</span></h1>
        </div>
      </div>
    </div>
  </div>
<div class="shop__container ff">
    <div class="container">
        <div class="checkout__container ff">
            <div class="container">
                    
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                        <h3>THÔNG TIN GIAO HÀNG</h3>
                        <div class="form-group">
                            <div class="radio">
                                <input type="radio" name="option" id="acc"  (click)="sameAddress = true">
                                <label for="acc">Gửi tới địa chỉ của tôi</label>
                                <div class="radio-btn"></div>
                            </div>
                            <div class="radio">
                                <input type="radio" name="option" id="another"  (click)="sameAddress = false">
                                <label for="another">Gửi tới địa chỉ khác</label>
                                <div class="radio-btn"></div>
                            </div>  
                        </div>
                        <div class="row" *ngIf="sameAddress">
                            <div class="col-md-12 col-sm-12">
                                <label>Họ tên người nhận</label>
                                <input class="form-control" [(ngModel)]="customerTemp.customerName" disabled>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Tỉnh / Thành phố</label>
                                <div class="form-group d-flex">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down" ></span></div>
                                        <select name="" id="" class="form-control" disabled>
                                            <option *ngFor="let city of cities" value="city.id" [selected]="customer.cityId == city.id">{{ city.cityName }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Quận / Huyện</label>
                                <div class="form-group d-flex">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="" class="form-control" disabled>
                                            <option *ngFor="let town of towns2" value="town.id" [selected]="town.id == customer.townId">{{ town.townName }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <label>Địa chỉ</label>
                                <input class="form-control" [(ngModel)]="customerTemp.customerAddress" disabled >
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Email</label>
                                <input class="form-control" [(ngModel)]="customerTemp.customerMail" disabled>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label>Phone</label>
                                <input class="form-control" [(ngModel)]="customerTemp.customerPhone" disabled>
                            </div>
                        </div>
                        <div class="row" *ngIf="sameAddress == false">
                                <div class="col-md-12 col-sm-12">
                                    <label>Họ tên người nhận</label>
                                    <input class="form-control" [(ngModel)]="customerTemp2.customerName" >
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>Tỉnh / Thành phố</label>
                                    <div class="form-group d-flex">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down" ></span></div>
                                            <select name="" id="" class="form-control" [(ngModel)]="customerTemp2.cityId" (change)="getTowns(customerTemp2.cityId)" >
                                                <option value="0" [selected]="customerTemp2.cityId == 0">Chọn tỉnh / thành</option>
                                                <option *ngFor="let city of cities" value="{{ city.id }}" [selected]="customerTemp2.cityId == city.id">{{ city.cityName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>Quận / Huyện</label>
                                    <div class="form-group d-flex">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control" [(ngModel)]="customerTemp2.townId" >
                                                <option value="0" [selected]="customerTemp2.townId == 0">Chọn quận / huyện</option>
                                                <option *ngFor="let town of towns" value="{{ town.id }}" [selected]="town.id == customerTemp2.townId">{{ town.townName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <label>Địa chỉ</label>
                                    <input class="form-control" [(ngModel)]="customerTemp2.customerAddress"  >
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>Email</label>
                                    <input class="form-control" [(ngModel)]="customerTemp2.customerMail" >
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label>Phone</label>
                                    <input class="form-control" [(ngModel)]="customerTemp2.customerPhone" >
                                </div>
                            </div>
                        
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="cart__container--total-div">
                            <div class="pd-20 border-gray">
                                <h5>THÔNG TIN THANH TOÁN</h5>
                                <br/>
                                <p class="d-flex">
                                    <span>Giá trị đơn</span>
                                    <span>{{ formatCurrency(order.totalMoney) }}</span>
                                </p>
                                <p class="d-flex">
                                    <span>Số lượng</span>
                                    <span>{{ order.totalQuantity }}</span>
                                </p>
                                <p class="d-flex">
                                    <span>Giảm giá</span>
                                    <span> 0 đ</span>
                                </p>
                                <hr/>
                                <p class="d-flex">
                                    <span>Thành tiền</span>
                                    <span>{{ formatCurrency(order.totalMoney) }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="pd-20 border-gray payment-method">
                            <h5>THANH TOÁN</h5>
                            <div class="radio">
                                <input type="radio" name="option" id="bank" checked>
                                <label for="bank">Cash On Delivery</label>
                                <div class="radio-btn"></div>
                            </div>
                            <!-- <div class="radio">
                                <input type="radio" name="option" id="check">
                                <label for="check">Check Payment</label>
                                <div class="radio-btn"></div>
                            </div>
                            <div class="radio">
                                <input type="radio" name="option" id="paypal">
                                <label for="paypal">Paypal</label>
                                <div class="radio-btn"></div>
                            </div>                           -->
                        </div>   
                        <button (click)="CheckoutOrder()" >Hoàn tất đơn hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>