<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <!-- Default form login -->
        <div class="text-center border border-primary p-5 mt-15 bg-white" action="#!">
  
          <p class="h4 mb-3">ĐĂNG NHẬP</p>
  
          <!-- Email -->
          <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"
            [(ngModel)]="admin.username">
  
          <!-- Password -->
          <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"
            [(ngModel)]="admin.password">
  
          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
              </div>
            </div>
            <div>
              <!-- Forgot password -->
              <a href="">Forgot password?</a>
            </div>
          </div>
  
          <!-- Sign in button -->
          <button class="btn btn-info btn-block my-4" type="submit" (click)="login()">ĐĂNG NHẬP</button>
          <div class="{{alert.style}} alert-dismissible" *ngIf="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ alert.title }}!</strong> {{ alert.content }}.
          </div>
          <!-- Social login -->
          <p>or sign in with:</p>
  
          <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>
  
        </div>
        <!-- Default form login -->
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  