<div class="row">
    <div class="col-lg-3 col-md-6" *ngFor="let product of products">
      <div class="shop__container--product">
        <a href="#">
          <img src="https://localhost:44315/image/{{ product.productImageList }}" alt="product">
          <span class="discount">{{ ceil(product.productPrice,product.productDiscount) }}%</span>
        </a>
        <div class="text">
          <a href="#">{{ product.productName }}</a>
          <div class="pricing">
            <p class="price">
              <span class="price-dc">{{ formatMoney(product.productPrice) }}</span>
              <span class="price-sale">{{ formatMoney(product.productDiscount) }}</span>
            </p>
          </div>
        </div>
        <div class="bottom-area">
          <div style="margin: 0 auto;">
            <a href="#"><span><i class="icon ion-ios-cart"></i></span></a>
            <a href="#"><span><i class="icon ion-ios-heart"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>