<nav class="navbar navbar-expand-lg navbar-light sticky-top shop__navbar ff">
  <div class="container">
    <a class="navbar-brand" routerLink="/BookStore/Home">HUMG BookStore</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#responsive-navbar"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="responsive-navbar">
      <ul class="navbar-nav ml-auto navbar-nav-list">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="shop_dropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Cửa hàng</a>
          <div class="dropdown-menu" aria-labelledby="shop_dropdown">
            <a class="dropdown-item" *ngFor="let category of categories" routerLink="/BookStore/Category/{{ category.id }}">{{ category.categoryName }}</a>
            
          </div>
        </li>
        <li class="nav-item" *ngIf="customer == 'not login'"><a routerLink="/BookStore/Login" class="nav-link">Đăng nhập</a></li>
        <li class="nav-item" *ngIf="customer != 'not login'"><a routerLink="/BookStore/Login" class="nav-link">{{ customer.customerName }}</a></li>
        <li class="nav-item"><a routerLink="/BookStore/Cart" class="nav-link"><span class="icon-shopping_cart"></span><i
              class="icon ion-ios-cart"></i>&nbsp;[ 0 sản phẩm ]</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="shop__banner ff" style="background-image: url('http://images6.fanpop.com/image/photos/34600000/Book-Wallpaper-reading-34659444-1024-768.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1><span class="text-white">{{ page }}</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="shop__container ff">
  <div class="container">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <ul class="product-category">
                  <li><a routerLink="/BookStore/Home" >All</a></li>
                  <li *ngFor="let category of categories"><a routerLink="/BookStore/Category/{{ category.id }}" [ngClass]=" category.id ==  id ? 'active' : ''">{{ category.categoryName }}</a></li>
              </ul>
          </div>
      </div>    
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let product of products">
          <div class="shop__container--product">
            <a href="#">
              <img src="https://localhost:44315/image/{{ product.productImageList }}" alt="product">
              <span class="discount">{{ ceil(product.productPrice,product.productDiscount) }}%</span>
            </a>
            <div class="text">
              <a href="#">{{ product.productName }}</a>
              <div class="pricing">
                <p class="price">
                  <span class="price-dc">{{ formatMoney(product.productPrice) }}</span>
                  <span class="price-sale">{{ formatMoney(product.productDiscount) }}</span>
                </p>
              </div>
            </div>
            <div class="bottom-area">
              <div style="margin: 0 auto;">
                <a href="#"><span><i class="icon ion-ios-cart"></i></span></a>
                <a href="#"><span><i class="icon ion-ios-heart"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>