.image {
  width: 50px;
  height: 78.8px;
}

.menu-right {

  height: 150px;
  position: fixed;
  left: 90%;
  right: 0px;
  top: 100px;
}

.notice {
  height: 50px;
  position: fixed;
  left: 70%;
  right: 0px;
  top: 550px;
}
