<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card text-drank border-success">
          <div class="card-body">
            <div class="card-title ">
              <h5 class="text-success">ADD NEW PRODUCT</h5>
              <hr>
              <div class="form-group row">
                <div class="col-sm-3 border-success">
                  <div>
                    <img [src]="localUrl" alt="" class="mx-auto d-block mt-15 image-insert">
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="form-group">
                    <strong>Product Code :</strong>
                    <input type="text" class="form-control" [(ngModel)]="product.productCode" placeholder="Product Code">
                  </div>
                  <div class="form-group">
                    <strong>Product Name :</strong>
                    <input type="text" class="form-control" [(ngModel)]="product.productName" placeholder="Product Name">
                  </div>
                  <div class="row">
                    <div class="col-sm-4 form-group">
                      <strong>Product Price</strong>
                      <input type="number" class="form-control" [(ngModel)]="product.productPrice">
                    </div>
                    <div class="col-sm-4 form-group">
                      <strong>Product Discount</strong>
                      <input type="number" class="form-control" [(ngModel)]="product.productDiscount">
                    </div>
                    <div class="col-sm-4 form-group">
                      <strong>Author</strong>
                      <select class="form-control" [(ngModel)]="product.authorId">
                        <option class="form-control" *ngFor="let author of authors" value="{{ author.id }}" [selected] = "author.id == product.id">
                          {{ author.authorName }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8">
                      <strong>Category</strong>
                      <select class="form-control" [(ngModel)]="product.categoryId">
                        <option *ngFor="let category of categories" value="{{ category.category.id }}" [selected] = "product.categoryId == category.category.id">
                          {{ category.category.categoryName }}</option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <strong>Publishing</strong>
                      <select class="form-control" [(ngModel)]="product.publishingId">
                        <option *ngFor="let publishing of publishings" value="{{ publishing.id }}" [selected] = "product.publishingId == publishing.id">
                          {{ publishing.publishingName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <!-- showFile($event) -->
                    <div class="col-sm-3">
                      <strong>File</strong>
                      <input type="file"  class="form-control" (change)="showFile($event)">
                      <!-- <input type="file" #file (change)="uploadFile(file.files)"> -->
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <strong>Active</strong><br>
                        <div class="form-group form-check ">
                          <input class="form-check-input" type="checkbox" [(ngModel)]="product.isActive"> <span
                            class="">Active
                            Product</span>
                        </div>
                      </div>
                    </div>
  
                  </div>
  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="form-group col-sm-12">
                  <strong>Description</strong>
                  <ckeditor [(ngModel)]="product.productDescription" ></ckeditor>
                </div>
                <div class="container">
                  <button class="btn btn-success" >Insert Product</button> &nbsp;
                  <button class="btn btn-danger" (click)="goBack()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  